[defaults]
inventory = inventory.ini
interpreter_python = auto_silent

[galaxy]
server_list = beta

[galaxy_server.beta]
url = https://beta-galaxy.ansible.com/api/
token = 3408173fe9d1c0c2692abd8f4ee233c10ce6e33c